// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: lightgreen;
}

#navbar {
  background: lightgreen;
  box-shadow: 0 0.2em 1em black !important;
  color: white !important;
}

#navbar a {
  color: white !important;
}

#checkout, #payment_success {
  background: lightgreen;

  height: auto;

  padding-top: 0;
}

#payment_success {
  height: 20rem;
}

#payment_success #payment_success_content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  width: 80%;
  height: calc(100%-($nav_height + 5rem));

  margin: auto;
}

#payment_success_content p {
  text-align: center;
  font-size: 1.5rem;

  background: white;
  color: lightgreen;
  border-radius: 1rem;

  line-height: normal;

  margin-bottom: 3rem;
  padding: 1rem
}

#cart {
  background: none;
}

#cart #cart_content_stuff {
  padding: 2rem;
  padding-bottom: 1rem;
}

#cart #cart_bottom_links {
  display: none;
}

#cart .remove_col {
  display: none;
}

#pay_buttons {
  width: 100%;
  height: auto;

  margin-top: 1rem;
}

#pay_buttons #apple-pay-button {
  width: 100%;
  height: 3rem;

  display: none;

  border: none;
  border-radius: 1rem;

  background: white;
  color: lightgreen;

  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: lowercase;
  line-height: 3rem;

  margin-top: 1rem;
}

#pay_buttons #apple-pay-button:hover {
  cursor: pointer;

  background: limegreen;
  color: white;
}

#pay_buttons .stripe-button-el  {
  width: 100% !important;
  height: 3rem !important;

  border: none !important;
  border-radius: 1rem !important;
  background: none !important;

  padding: 0 !important;
}

#pay_buttons .stripe-button-el span {
  width: 100% !important;
  height: inherit !important;

  background: white !important;
  color: lightgreen !important;

  font-family: 'Cabin', sans-serif !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
  text-shadow: none !important;
  text-transform: lowercase !important;
  line-height: 3rem !important;

  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;

  padding: 0 !important;
}

#pay_buttons .stripe-button-el:hover span {
  background: limegreen !important;
  color: white !important;
}
