// Place all the styles related to the ClothingLines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nav_height: 7rem;

html {
  background: lightblue;
}

#navbar {
  background: lightblue;
  box-shadow: 0 0.2em 1em black !important;
  color: white !important;
}

#navbar a {
  color: white !important;
}

#items .img_wrapper {
  width: 18.7rem;
  height: 18.7rem;

  border-radius: 1rem;
}

#banner_img {
  min-width: 100%;
  min-height: 100%;

  flex-shrink: 0;
}

#banner_img_wrapper {
  width: 100%;
  height: 20rem;

  background: lightblue;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  overflow: hidden;

  margin: 0;
  margin-top: $nav_height - 0.5rem;
  padding: 0;
}
