// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background: lightblue;
}

#navbar {
  background: lightblue;
  box-shadow: 0 0.2em 1em black !important;
  color: white !important;
}

#navbar a {
  color: white !important;
}

#item {
  width: auto;

  background: lightblue;

  padding-left: 3rem;
}

#item #imgs_wrapper, #item #item_info {
  margin-bottom: 5rem;
  margin-right: 3rem;
}

#item #imgs_wrapper {
  position: relative;

  width: 75vw;
  max-width: 25rem;
  height: 75vw;
  max-height: 25rem;

  display: inline-block;
}

#item #imgs_wrapper.more_than_one {
  width: 95.25vw;
  max-width: 31.75rem;
}

#imgs_wrapper #img_main {
  position: absolute;

  width: 100%;
  height: 100%;
}

#imgs_wrapper.more_than_one #img_main {
  position: absolute;
  right: 0;
  top: 0;

  width: auto;
  height: 100%;
}

#imgs_wrapper #img_main img {
  width: auto;
  height: 100%;

  border-radius: 1rem;
}

#imgs_wrapper #img_previews {
  position: absolute;
  left: 0;

  display: inline-block;

  width: auto;
  height: 100%;

  padding: 0;
  margin: 0;
}

#imgs_wrapper #img_previews [type="radio"] {
  display: none;
}

#imgs_wrapper #img_previews [type="radio"]:checked + .img_preview img {
  border: solid white thick;
  box-sizing: border-box;
}

#imgs_wrapper #img_previews .img_preview {
  width: 8.67vw;
  max-width: 5.68rem;
  height: 8.67vw;
  max-height: 5.68rem;

  box-sizing: border-box;

  margin-bottom: 0.75rem;
}

#imgs_wrapper #img_previews .img_preview img {
  position: absolute;

  width: 8.67vw;
  max-width: 5.68rem;
  height: 8.67vw;
  max-height: 5.68rem;

  border-radius: 20%;

  transition: transform .2s ease-in-out 0s;
}

#imgs_wrapper #img_previews #label_last .img_preview {
  margin: 0;
}

#imgs_wrapper #img_previews .img_preview img:hover {
  cursor: pointer;

}

@media (orientation: portrait) {
  #item #imgs_wrapper.more_than_one {
    width: 75vw;
    max-width: 25rem;
    height: 95.25vw;
    max-height: 31.75rem;
  }

  #imgs_wrapper.more_than_one #img_main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: auto;
  }

  #imgs_wrapper #img_main img {
    width: 100%;
    height: auto;

    border-radius: 1rem;
  }

  #imgs_wrapper #img_previews {
    position: absolute;
    bottom: 0;

    display: table;
    border-spacing: 0.75rem;

    width: 100%;
    height: auto;
  }

  #imgs_wrapper #img_previews .img_preview {
    box-sizing: border-box;

    display: table-cell;

    margin-bottom: 0;
  }
}

#item #item_info {
  position: relative;

  width: 75vw;
  max-width: 40rem;
  height: 25rem;

  display: inline-block;

  background: white;
  color: lightblue;
  border-radius: 1rem;
}

// #item #imgs_wrapper.more_than_one + #item_info {
//   max-width: 40rem;
// }

#item #item_info #item_price {
  position: relative;

  width: 100%;

  line-height: normal;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: lightblue;

  padding: 0;
  margin: 2.5rem 0 2.25rem;
}

#item #item_info #size_radio_buttons {
  position: relative;
  top: 0;

  display: table;

  margin: 0 auto;
}

#item #item_info #size_radio_buttons [type="radio"] {
  display: none;
}

#item #item_info #size_radio_buttons [type="radio"] + span {
  content: '';

  width: 2rem;
  height: 2rem;

  display: inline-block;

  vertical-align: -0.25em;
  border-radius: 0.75rem;
  border: solid lightblue medium;

  margin: 0 0.375rem;
}

#item #item_info #size_radio_buttons [type="radio"] + span + label {
  display: none;
}

#item #item_info #size_radio_buttons [type="radio"] + span > p {
  width: 100%;

  color: lightblue;
  text-transform: uppercase;
  text-align: center;
  line-height: 2rem;

  margin-top: 0rem;
}

#item #item_info #size_radio_buttons .radio_button_span:hover {
  cursor: pointer;
  background: ghostwhite;
}

#item #item_info #size_radio_buttons [type="radio"]:checked + span {
  background: lightblue;
}

#item #item_info #size_radio_buttons [type="radio"]:checked + span > p {
  color: white;
}

#item #item_info #size_radio_buttons [type="radio"]:checked + span + label {
  position: absolute;
  top: 0;
  left: -150%;

  width: 400%;

  display: table;

  text-align: center;
  font-size: 1.5rem;

  padding: 0;
  margin: 3rem 0 auto;
}

#item #item_info #quantity_select_wrapper {
  position: relative;
  top: 0;

  width: 7.2rem;

  border: solid lightblue medium;
  border-radius: 1rem;

  display: table;
  cursor: pointer;

  margin: 4.5rem auto 0;
}

#item #item_info #quantity_select_wrapper label {
  position: absolute;
  left: 0;

  font-size: 1.5rem;
  line-height: 3.6rem;

  pointer-events: none;

  padding-left: 1rem;
}

#item #item_info #quantity_select_wrapper #quantity_select {
  font-size: 1.5rem;

  width: 100%;

  border-radius: inherit;

  color: lightblue;
  background:
   linear-gradient(45deg, transparent 50%, lightblue 50%),
   linear-gradient(135deg, lightblue 50%, transparent 50%);
  background-position:
   calc(100% - 21px) calc(1em + 2px),
   calc(100% - 16px) calc(1em + 2px),
   100% 0;
  background-size:
   5px 5px,
   5px 5px,
   2.5em 2.5em;
  background-repeat: no-repeat;

  padding: 0.84rem 2rem 0.84rem 4.37rem;
}

#item #item_info #quantity_select_wrapper:hover #quantity_select {
  background-color: ghostwhite;
}

#item #item_info #item_submit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 4rem;

  border: none;
  border-radius: 0;
  border-top: solid lightblue thick;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  background: white;
  color: lightblue;
  appearance: none;
  -webkit-appearance: none;

  font-size: 1.5rem;

  margin: 0;
  padding: 0;
}

#item #item_info #item_submit:hover {
  border-top-color: cornflowerblue;

  background: cornflowerblue;
  color: white;

  cursor: pointer;
}
