<div id="payment_success" class="colored_section top">
  <div id="cart"></div>
  <div class="trigger" id="payment_success_trigger"></div>
  <h2 id="payment_success_title">Payment Success!</h2>
  <div id="back_arrow_wrapper">
    <%= render :partial => 'layouts/back_arrow', :locals => { name: @back_arrow_info[:name], link: @back_arrow_info[:link] } %>
  </div>
  <div id="payment_success_content" data-aos="fade-up">
    <p>Thanks, you paid <strong><%= number_to_currency(@amount/100) %></strong>!<br>You will receive a confirmation email for order '<%= @order_id %>' shortly.</p>
  </div>
</div>
