<!DOCTYPE html>
<html>
  <head>
    <title>Voyage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    

    <script>
      AOS.init();

      $('#about_us_link').on('click', function(e){
          e.preventDefault();
          $('html, body').stop().animate({
             scrollTop: $('#about_us').offset().top
          }, 500);
      });

      $('#contact_link').on('click', function(e){
          e.preventDefault();
          $('html, body').stop().animate({
             scrollTop: $('#contact').offset().top
          }, 500);
      });
    </script>
  </body>
</html>
